* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.title{
    text-align: center;
    padding: 10px;
    color: #333333;
    font-size: 50px;
}
button{
    background-color:#eb9c91;
    color: white;
    padding: 15px;
    border: 0px solid #ffa06e;
    border-radius: 10px;
    box-shadow: 2px 4px 4px lightgray;
    transition-duration: 0.2s;
    margin: 10px;
}
button:hover{
    background-color: white;
    color: #eb9c91;
    border: 2px solid #eb9c91;
}
button:focus{
    border: none;
    outline: #eb9c91 solid 2px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
input{
    border: black solid 1px;
    box-shadow: 2px 2px 0px #eb9c91;
}
input[type=text]{
    width: 75px;
    transition: ease-in-out, width .55s ease-in-out;
}
input[type=text]:focus{
    width: 150px;
}
input:focus{
    outline: #eb9c91 solid 2px;
}
input[type=range]{
    box-shadow: none;
    background: black;
}
.softButton{
    padding: 10px;
    background-color: white;
    color: #9baaeb;
    border-radius: 10px;
    box-shadow: 2px 4px 4px lightgray;
    border: 2px solid #9baaeb;
    transition-duration: 0.2s;
    margin: 3px;
}
.softButton:hover{
    border: 2px solid #9baaeb;
    background-color: #9baaeb;
    color: white;
}
.mildButton{
    padding: 10px;
    background-color: white;
    color: #eb9c91;
    border-radius: 10px;
    box-shadow: 2px 4px 4px lightgray;
    border: 2px solid #eb9c91;
    transition-duration: 0.2s;
    margin: 3px;
}
.mildButton:hover{
    border: 2px solid #eb9c91;
    background-color: #eb9c91;
    color: white;
}
.eventDate{
    text-align: center;
}
.paragraph{
    text-align: center;
}
.eventTimes{
    text-align: center;
}
.chunk{
    margin-right: 20px;
}
.chunk:hover{
    outline: #eb9c91 solid 2px;
}
.editChunk{

}