* {
    font-family: 'Lucida Sans';
}
.title{
    text-align: center;
    padding: 10px;
}
button{
    background-color:#eb9c91;
    color: white;
    padding: 15px;
    border: 0px solid #ffa06e;
    border-radius: 10px;
    box-shadow: 2px 4px 4px lightgray;
    transition-duration: 0.4s;
    margin: 10px;
}
button:hover{
    background-color: white;
    color: #eb9c91;
    border: 2px solid #eb9c91;
}
button:focus{
    border: none;
    outline: #eb9c91 solid 2px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
input{
    border: black solid 1px;
    box-shadow: 2px 2px 0px #eb9c91;
}
input[type=text]{
    width: 75px;
    transition: ease-in-out, width .55s ease-in-out;
}
input[type=text]:focus{
    width: 150px;
}
input:focus{
    outline: #eb9c91 solid 2px;
}