* {
    font-family: 'Lucida Sans';
}
.title{
    text-align: center;
    padding: 10px;
}
button{
    background-color:#eb9c91;
    color: white;
    padding: 15px;
    border: 0px solid #ffa06e;
    border-radius: 10px;
    box-shadow: 2px 4px 4px lightgray;
    transition-duration: 0.4s;
}
button:hover{
    background-color: white;
    color: #eb9c91;
    border: 2px solid #eb9c91;
}
button:focus{
    border: none;
}